
.info {
    width: 175px;
    height: 63px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    position: absolute;
    top: 15px;
    left: 965px;
}

.bg {
    position: absolute;
    z-index: -1;
    opacity: 0.3;
    background-color: var(--add-gray);
    width: 100%;
    height: 100%;
}

.wait {
    background: url("./icon.png");
    background-size: cover;
    width: 24px;
    height: 24px;
    animation: wait-rotate 2s infinite linear;
}

@keyframes wait-rotate {
    100% {
        transform: rotate(360deg);
    }
}

.used, .limit {
    font-size: 10px;
    opacity: 0.4;
    text-align: right;
}

.usedCount {
    font-size: 14px;
    font-weight: bold;
    padding-left: 5px;
}

.limitCount {
    color: #8AC540;
    font-size: 14px;
    font-weight: bold;
    padding-left: 5px;
}

.desktop {

}

.mobile {
    display: none;
}

@media screen and (max-width: 1439px) {
    .info {
        width: 130px;
        height: 75px;
        top: 8px;
        left: 157px;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
        width: 110px;
    }

    .used, .limit {
        font-size: 8px;
        text-align: left;
    }

    .usedCount {
        font-size: 14px;
        padding-bottom: 8px;
    }

    .limitCount {
        font-size: 14px;
    }

}
