.menu {
    position: absolute;
    top: 36px;
    left: 602px;
}

.menuList {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.menuItem + .menuItem {
    padding-left: 50px;
}

.menuActive {
    font-size: 14px;
    letter-spacing: 0.14px;
    text-decoration: none;
    color: var(--dark-green);	
}

.menuActive:hover {
    color: var(--base-black);
    border-bottom: solid 0.1em;
}

.menuNormal {
    font-size: 14px;
    letter-spacing: 0.14px;
    text-decoration: none;
    color: var(--base-green);
}

.menuNormal:hover {
    color: var(--base-black);
    border-bottom: solid 0.1em;
}

@media screen and (max-width: 1439px) {
    .menu {
        display: none;
    }
}
