
.section {
    padding-top: 10px;
    padding-bottom: 118px;
    margin: 3em;
}

.text {
    font-family: var(--ferry);
    font-size: 45px;
    font-weight: 900;
    line-height: 54px;
    letter-spacing: 0.01em;
    text-align: left;
    color: var(--dark-green);
    margin-top: 10px;
}

.text2 {
    width: 534px;
    font-family: var(--inter);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
    padding-top: 24px;
    color: var(--base-green);
}
